{% extends 'base.html' %}

{% block content %}
<h1>
	{{ type|capfirst }} – <a href="spotify:{{ type }}:{{ uri }}" title="{{ data.title }}">{{ title.name }}</a>
</h1>
<table>
	{% if not type == 'artist' %}
		{% if data.artists %}
			<tr>
				<td class="artist">
					Artist{{ data.artist|pluralize }}:
				<td>
				<ul>
					{% for artist in data.artists %}
					<li>
						<a href="{{ artist.uri }}">{{ artist.name }}</a>
					</li>
					{% endfor %}
				</ul>
			</td>
		</tr>
		{% endif %}
	{% endif %}

	{% if not type == 'track' %}
		{% if data.tracks %}
			<tr>
				<td class="title">Title:</td>
				<td>
				<ul>
		{% for track in data.tracks %}
				<li>{{ track.name }}</li>
		{% endfor %}
				</ul>
				</td>
			</tr>
		{% if data.track == title %}
				<td>{{ data.track }}</td>
			</tr>
		{% endif %}
		{% endif %}
	{% endif %}

	
	{% if not type == 'album' %}	
		{% if data.album %}
				<tr>
					<td class="album">Album:</td>
					<td><a href="{{ data.album.uri }}">{{ data.album.name }}</a></td>
				</tr>
		{% endif %}
	{% endif %}
</table>
{% endblock %}
